<fieldset>
  <legend>Calendario</legend>
  <div class="row text-center">
    <div class="col-md-6">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'co' }}</h3>
    </div>
    <br>
  <br>
      <div class="btn-group">
        <div class="btn btn-primary" (click)="decrement()">
          Previous
        </div>
        <div class="btn btn-default" (click)="today()">
          Today
        </div>
        <div class="btn btn-primary" (click)="increment()">
          Next
        </div>

    </div>


  <!--
    <div class="btn-group">
      <div class="btn btn-primary" (click)="view = 'month'" [class.active]="view === 'month'">Month</div>
      <div class="btn btn-primary" (click)="view = 'week'" [class.active]="view === 'week'">Week</div>
      <div class="btn btn-primary" (click)="view = 'day'" [class.active]="view === 'day'">Day</div>
    </div>

    -->

  <br>
  <br>

  <div class="alert alert-info">
    Click on a day on the view.
    <strong *ngIf="clickedDate">You clicked on this day: {{ clickedDate | date:'medium'}}</strong>
  </div>

<div [ngSwitch]="view" class="col-md-3">
  <mwl-calendar-month-view
    *ngSwitchCase="'month'"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [locale]="locale"
    (beforeViewRender)="beforeMonthViewRender($event)"
    (dayClicked)="clickedDate = $event.day.date">
  </mwl-calendar-month-view>
  <mwl-calendar-week-view
    *ngSwitchCase="'week'"
    [viewDate]="viewDate"
    [events]="events"
    [refresh]="refresh"
    [locale]="locale"
    (dayHeaderClicked)="clickedDate = $event.day.date">
  </mwl-calendar-week-view>
  <mwl-calendar-day-view
    *ngSwitchCase="'day'"
    [viewDate]="viewDate"
    [events]="events"
    [locale]="locale"
    [refresh]="refresh">
  </mwl-calendar-day-view>
</div>

</div>
</fieldset>

